<script>
    var profile = "{{profile}}";

</script>
<h1>Profile: {{profile}}</h1>
<div id="channel_chart_type" class="text-center">
    <form class="form-inline">
        <div class="form-group">
            <div class="radio">
                <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Channel balance</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Total intensity</label>
            </div>
        </div>
</div>
</div>

<div id="channel_chart1"></div>
<div id="channel_controls"></div>

<!-- load the d3.js library -->
<script src="/lib/d3.v4.min.js"></script>
<script src="/js/light-channels.js"></script>